<link rel="stylesheet" href="/my_styles.css">

<div>
  <div>
    <h1>
      My Bookmarks
    </h1>
  </div>
</div>

<hr>



<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Created at
        </th>

        <th>
          Read
        </th>

        <th>
          Delete Bookmark
        </th>

      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>
        <td>
          <% a_story = Story.where(:id => a_bookmark.story_id).at(0) %>
          <%= a_story.title %>
        </td>

        <td>
          <% a_story = Story.where(:id => a_bookmark.story_id).at(0) %>
          <%= User.where(:id => a_story.owner_id).at(0).username %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
        
        <td>
          <% a_story = Story.where(:id => a_bookmark.story_id).at(0) %>
          <a href="/stories/<%= a_story.id %>">
            Read This Story
        </td>
        
        <td>
          <a href="/delete_bookmark/<%=a_bookmark.id %>">
            Delete Bookmark
          </a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
