<link rel="stylesheet" href="/my_styles.css">

<div>
  <div>
    <h1>
      <%= @the_story.title %>
    </h1>
    <p><%= @the_story.story %></p>

      <dt>
        Author: <%= @the_story.owner.username %> 
      </dt>

      <dt>
        Written: <%= time_ago_in_words(@the_story.created_at) %> ago
      </dt>

      <dt>
        Revised: <%= time_ago_in_words(@the_story.updated_at) %> ago
      </dt>
    </dl>
  </div>
</div>

<hr>

<% if session[:user_id] == @the_story.owner_id %>
  <div>
    <h2>
      Update
    </h2>
    
    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div>
        <label for="title_box">
          New Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_story.title %>">

        <label for="description_box">
          New Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_story.description %></textarea>
      

      <button>
        Update Story
      </button>
      </div>
    </form>
  </div>

  <hr>

    <h2> 
      Delete
    </h2>

    <div class="regular-button">
      <a href="/delete_story/<%= @the_story.id %>">
        <button>
          Delete Story
        </button>
      </a>
    </div>
  <hr>
<% else %>
  <div>
    <h2> 
      Bookmark
    </h2>
  <div>
    <form action="/insert_bookmark/<%= @the_story.id %>" method="post">
      <button>
        Bookmark Story
      </button>
    </a>
  </div>
  <hr>
<% end %>
