<div>
  <div>
    <h1>
      Story #<%= @the_story.id %> details
    </h1>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_story.title %>
      </dd>

      <dt>
        Story
      </dt>
      <dd>
        <%= @the_story.story %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_story.owner_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_story.description %>
      </dd>

      <dt>
        Boomarks count
      </dt>
      <dd>
        <%= @the_story.boomarks_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_story.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<% if session[:user_id] == @the_story.owner_id %>
  <div>
    <h2>
      Update
    </h2>
    
    <form action="/modify_story/<%= @the_story.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_story.title %>">
      </div>

      <div>
        <label for="story_box">
          Story
        </label>

        <textarea id="story_box" name="query_story"><%= @the_story.story %></textarea>
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_story.description %></textarea>
      </div>

      <button>
        Update Story
      </button>
    </form>
  </div>

  <hr>

    <h2> 
      Delete
    </h2>

    <div>
      <a href="/delete_story/<%= @the_story.id %>">
        <button>
          Delete Story
        </button>
      </a>
    </div>
  <hr>
<% else %>
    <h2> 
      Bookmark
    </h2>

    <div>
      <a href="/insert_bookmark/<%= @the_story.id %>">
        <button>
          Bookmark Story
        </button>
      </a>
    </div>
  <hr>
<% end %>
